<div class="card shadow-lg">
    <div class="card-body">
        <form [formGroup]="changePassword" (ngSubmit)="onSubmit(changePassword.value)">
            <input type="hidden" formControlName="email">
            <div class="form-group">
                <label>New Password</label>
                <input [class.is-invalid]="password.invalid && password.touched" type="password" class="form-control"
                    formControlName="password">
                <div *ngIf="password.invalid && ( password.dirty || password.touched)" class="alert">
                    <div class="error" *ngIf="password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" type="password"
                    class="form-control" formControlName="confirmPassword" required>
                <div *ngIf="confirmPassword.invalid && ( confirmPassword.dirty || confirmPassword.touched)"
                    class="alert">
                    <div class="error" *ngIf="confirmPassword.errors.required">Please re-enter your password
                    </div>
                    <div class="error" *ngIf="confirmPassword.errors.confirmedValidator">Doesn't match with password
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!changePassword.valid">Change Password</button>
            </div>
        </form>
        <div style="margin-top: 0.5rem;" ng-show="alertBox" class="alert alert-success" role="alert" [hidden]=!isEnable>
            {{msg}}
        </div>
        <div ng-show="alertBox" class="alert alert-danger" role="alert" [hidden]=!isError>
            {{msg}}
        </div>
    </div>
</div>