<div class="card shadow-lg">
    <div class="card-body">
        <form [formGroup]="newUser" (ngSubmit)="addItem(newUser.value)" autocomplete="off">
            <div class="form-group">
                <label>Product Name</label>
                <input [class.is-invalid]="proName.invalid && proName.touched" type="text" class="form-control"
                    formControlName="proName" required>
                <div *ngIf="proName.invalid && ( proName.dirty || proName.touched)" class="alert">
                    <div class="error" *ngIf="proName.errors.required">Product Name is required</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="itemPrice">Price</label>
                    <input [class.is-invalid]="itemPrice.invalid && itemPrice.touched" type="number" class="form-control"
                        id="itemPrice" aria-describedby="itemPrice" formControlName="itemPrice" required>
                    <div *ngIf="itemPrice.invalid && ( itemPrice.dirty || itemPrice.touched)" class="alert">
                        <div class="error" *ngIf="itemPrice.errors.required">Price is required</div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label for="itemUrl">Item image URL</label>
                    <input [class.is-invalid]="itemUrl.invalid && itemUrl.touched" type="url"
                        class="form-control" id="itemUrl" formControlName="itemUrl" required>
                    <div *ngIf="itemUrl.invalid && (itemUrl.dirty || itemUrl.touched)" class="alert">
                        <div class="error" *ngIf="itemUrl.errors.required">Image URL is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Enter available quantity</label>
                    <input [class.is-invalid]="avail.invalid && avail.touched" type="number" class="form-control"
                        formControlName="avail" required>
                    <div *ngIf="avail.invalid && ( avail.dirty || avail.touched)" class="alert">
                        <div class="error" *ngIf="avail.errors.required">Available Quantity is required</div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label>Enter type of quantity</label>
                    <input [class.is-invalid]="quantityType.invalid && quantityType.touched" type="text" class="form-control"
                        formControlName="quantityType" required>
                    <div *ngIf="quantityType.invalid && (quantityType.dirty || quantityType.touched)" class="alert">
                        <div class="error" *ngIf="quantityType.errors.required">Type of Quantity is required</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!newUser.valid" ng-model="alertBox">Add item</button>
            </div>
            <div ng-show="alertBox" class="alert alert-success" role="alert" [hidden]=!isMsg>
                {{msg}}
            </div>
        </form>
    </div>
</div>